:root {
  --color-base-black: 226deg 28% 12%;
  --color-base-white: 0deg 0% 100%;

  --color-base-gray-0: 0deg 0% 48%;
  --color-base-gray-1: 0deg 0% 60%;
  --color-base-gray-2: 255deg 6% 73%;
  --color-base-gray-3: 0deg 0% 92%;
  --color-base-gray-4: 240deg 14% 95%;
  --color-base-gray-5: 0deg 0% 96%;

  --color-base-blue-0: 211deg 54% 51%;
  --color-base-blue-1: 210deg 45% 56%;
  --color-base-blue-2: 209deg 72% 55%;
  --color-base-blue-3: 210deg 100% 96%;

  --color-base-red-0: 3deg 78% 58%;
  --color-base-red-1: 3deg 79% 64%;

  --color-text-primary: hsla(var(--color-base-black) / 100%);
  --color-text-secondary: hsla(var(--color-base-gray-1) / 100%);
  --color-text-accent: hsla(var(--color-base-blue-0) / 100%);
  --color-text-error: hsla(var(--color-base-red-0) / 100%);
  --color-text-white: hsla(var(--color-base-white) / 100%);

  --color-element-primary: hsla(var(--color-base-gray-0) / 100%);
  --color-element-secondary: hsla(var(--color-base-gray-2) / 100%);
  --color-element-tertiary: hsla(var(--color-base-gray-3) / 100%);
  --color-element-accent: hsla(var(--color-base-blue-0) / 100%);
  --color-element-special: hsla(var(--color-base-blue-2) / 100%);
  --color-element-error: hsla(var(--color-base-red-0) / 100%);
  --color-element-white: hsla(var(--color-base-white) / 100%);

  --color-background-basic: hsla(var(--color-base-gray-5) / 100%);
  --color-background-secondary: hsla(var(--color-base-gray-3) / 100%);
  --color-background-special: hsla(var(--color-base-gray-4) / 100%);
  --color-background-accent: hsla(var(--color-base-blue-1) / 100%);
  --color-background-accent-light: hsla(var(--color-base-blue-3) / 100%);
  --color-background-error: hsla(var(--color-base-red-1) / 100%);
  --color-background-white: hsla(var(--color-base-white) / 100%);

  --color-gradient-gray: linear-gradient(180deg, #b7b7ba 0%, #99999d 100%);
}
