.base {
  font-family: var(--font-family);
  font-size: var(--font-size-m, 100%);
  line-height: 1.15;
  color: var(--color-text-primary);
  background-color: var(--color-background-white);
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.base__body {
  margin: 0;
}
