.tg-dropdown {
  position: relative;
}

.dropdown {
  --menu-offset: calc(100% + 4px);
  position: absolute;
  visibility: hidden;
  box-shadow: var(--shadow-elevation-2);
  z-index: var(--z-menus);
}

.dropdown_visible {
  visibility: visible;
}

.dropdown_top {
  bottom: var(--menu-offset);
}

.dropdown_bottom {
  top: var(--menu-offset);
}

.dropdown_left {
  left: 0;
}

.dropdown_right {
  right: 0;
}
