.icon-button {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  appearance: none;
  background-color: unset;
}

.icon-button_style_primary {
  color: var(--color-element-primary);
}

.icon-button_style_accent {
  color: var(--color-element-accent);
}

.icon-button__icon {
  cursor: pointer;
}

.icon-button__icon:hover {
  opacity: var(--hover-opacity);
}

.icon-button__icon:active {
  opacity: 1;
}
