<button id={{id}} type={{type}} class="icon-button icon-button_style_{{style}} animate-hover">
  <svg class="icon-button__icon" viewBox="0 0 40 40" aria-hidden="true">
    <use href="src/svg/icon-40-sprite.svg#{{icon}}">
  </svg>
</button>