.chat-item {
  --item-padding: 12px;

  --item-background-color: var(--color-background-white);
  --item-text-primary-color: var(--color-text-primary);
  --item-text-secondary-color: var(--color-text-secondary);
  --badge-background-color: var(--color-element-special);
  --badge-text-color: var(--color-text-white);
  --status-icon-color: var(--color-element-accent);
  --text-fader-color-start: hsla(var(--color-base-white) / 30%);
  --text-fader-color-end: hsla(var(--color-base-white) / 100%);

  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  column-gap: 10px;
  width: 100%;
  height: 88px;
  cursor: default;
  background-color: var(--item-background-color);
}

.chat-item_active {
  --item-background-color: var(--color-element-accent);
  --item-text-primary-color: var(--color-text-white);
  --item-text-secondary-color: var(--color-text-white);
  --badge-background-color: var(--color-element-white);
  --badge-text-color: var(--color-element-special);
  --status-icon-color: var(--color-element-white);
  --text-fader-color-start: hsla(var(--color-base-blue-0) / 30%);
  --text-fader-color-end: hsla(var(--color-base-blue-0) / 100%);
}

.chat-info::after {
  content: '';
  background-color: var(--color-element-tertiary);
  bottom: calc(0px - var(--item-padding));
  height: 1px;
  position: absolute;
  right: calc(0px - var(--item-padding));
  width: calc(100% + var(--item-padding));
}

.chat-item_active .chat-info::after {
  display: none;
}

.chat-item__avatar {
  flex: 0 0 50px;
  flex-shrink: 0;
  font-size: 24px;
}

.chat-item__text {
  margin: 0;
}

.chat-info {
  flex-grow: 1;
  position: relative;
  padding: 4px 0;
  box-sizing: border-box;
  height: 100%;
}

.chat-info__heading {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.chat-info__title {
  position: relative;
  flex-grow: 1;
  color: var(--item-text-primary-color);
  font-size: var(--font-label-large-size);
  line-height: var(--font-label-large-height);
  font-weight: var(--font-label-large-weight);
  letter-spacing: var(--font-label-large-spacing);
  --max-lines: 1;

  max-height: calc(var(--font-label-large-height) * var(--max-lines));
  overflow: hidden;
}

.chat-info__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 32px;
  background: linear-gradient(
    90deg,
    var(--text-fader-color-start),
    var(--text-fader-color-end)
  );
}

.chat-info__time {
  color: var(--item-text-secondary-color);
  font-size: var(--font-body-small-size);
  line-height: var(--font-body-small-height);
  font-weight: var(--font-body-small-weight);
  letter-spacing: var(--font-body-small-spacing);
}

.chat-info__message {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.chat-info__last {
  position: relative;
  flex-grow: 1;
  padding-right: 4px;
  color: var(--item-text-secondary-color);
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-height);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-spacing);

  --max-lines: 2;

  max-height: calc(var(--font-body-medium-height) * var(--max-lines));
  overflow: hidden;
}

.chat-info__last::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: var(--font-body-medium-height);
  background: linear-gradient(
    90deg,
    var(--text-fader-color-start),
    var(--text-fader-color-end)
  );
}
