<div class="{{styles.main}}">

  <aside class="{{styles.main__side}}">
  </aside>

  <main class="{{styles.main__chat}}">
    {{#each chat}}
      <ul class="base-list">
        {{this}}
      </ul>
    {{/each}}
  </main>

</div>