.container {
  display: flex;
}

.invisibleInput:checked + .content {
  border-color: var(--color-element-error);
}

.content {
  flex: 1 1;
  border: 1px solid var(--color-background-secondary);
  border-radius: 8px;
  transition: border 100ms ease-out;
}
