.profile {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__avatar {
  margin: 0 auto;
  position: relative;
  font-size: 52px;
  width: 140px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  overflow: hidden;
}

.text {
  margin: 0;
}

.username {
  margin: 10px 0;
  text-align: center;
  color: var(--color-text-primary);
  font-size: var(--font-body-large-size);
  line-height: var(--font-body-large-height);
  font-weight: var(--font-body-large-weight);
  letter-spacing: var(--font-body-large-spacing);
}

.rows {
  color: var(--color-text-primary);
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-height);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-spacing);
}

.two-columns {
  margin-top: 12px;
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 4px;
}
