@import '../../layouts/top-bar/top-bar.css';
@import '../search/search.css';
@import '../icon-button/icon-button.css';
@import '../menu/menu.css';

.chat-list__top {
  gap: 4px;
}

.chat-list__button {
  --button-size: 40px;
  width: 40px;
  height: 40px;
}

.open-settings {
  color: var(--color-element-primary);
}

.add-chat {
  color: var(--color-element-accent);
}
