<div class="chat-list-block{{#if extClass}} {{extClass}}{{/if}}">

  {{#> layouts/top-bar/top-bar extClass="chat-list__top"}}

    {{> components/icon-button/icon-button id="open-settings" type="button" style="primary" extClass="chat-list__button" icon="menu"}}

    {{> components/search/search extClass="chat-list__search" id="search" name="search" placeholder="Search"}}

    {{> components/dropdown/dropdown id="add-chat" icon="add-chat" extClass="chat-list__button" items=main.menu.addChat style="accent" posX="left" posY="bottom"}}

  {{/layouts/top-bar/top-bar}}

  <ul class="chat-list__list base-list">
    <li class="chat-list__item"></li>
  </ul>

</div>