<div class="chat-list-block{{#if extClass}} {{extClass}}{{/if}}">

  {{#> layouts/top-bar/top-bar extClass="chat-list__top"}}

    {{#> components/icon-button/icon-button extClass="chat-list__button"}}
      <div class="chat-list__icon icon-menu"></div>
    {{/components/icon-button/icon-button}}

    {{> components/search/search extClass="chat-list__search" id="search" name="search" placeholder="Search"}}

    {{#> components/icon-button/icon-button extClass="chat-list__button"}}
      <div class="chat-list__icon icon-add-chat"></div>
    {{/components/icon-button/icon-button}}

  {{/layouts/top-bar/top-bar}}

  <ul class="chat-list__list base-list">
    <li class="chat-list__item"></li>
  </ul>

</div>