@import '../../layouts/top-bar/top-bar.css';
@import '../search/search.css';
@import '../icon-button/icon-button.css';

.chat-list__top {
  gap: 4px;
}

.chat-list__button {
  width: 40px;
  height: 40px;
}

.chat-list__icon {
  background-color: currentColor;
  mask-size: 100%;
}

.icon-menu {
  color: var(--color-element-primary);
  mask-image: url(../../../svg/icon-40-menu.svg);
}

.icon-add-chat {
  color: var(--color-element-accent);
  mask-image: url(../../../svg/icon-40-add-chat.svg);
}
