.avatar {
  border-radius: var(--border-radius-circle);
  overflow: hidden;
  box-sizing: border-box;
}

.avatar-inner {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__char {
  font-size: calc(var(--avatar-size) * 0.5);
  color: var(--color-text-white);
  background-image: var(--color-gradient-gray);
}
