<div class="avatar">

  {{#if src}}
    <img class="avatar-inner avatar__image" src={{src}} alt={{name}} draggable="false" decoding="async">
  {{else}}
    <div class="avatar-inner avatar__char" role="img" aria-label={{name}}>{{#getNamePrefix}}{{/getNamePrefix}}</div>
  {{/if}}

</div>