@import '../../partials/layouts/form/form.css';
@import '../../partials/components/input/input.css';
@import '../../partials/components/button/button.css';

.page__headline {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: var(--font-headline-medium-size);
  line-height: var(--font-headline-medium-height);
  font-weight: var(--font-headline-medium-weight);
  letter-spacing: var(--font-headline-medium-spacing);
}

.form__two-columns {
  display: flex;
  column-gap: 32px;
}

.page__input {
  width: 100%;
}

.page__transition {
  margin-top: 8px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
