:root {
  --hover-opacity: 0.8;

  --shadow-elevation-1: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);

  --border-radius-circle: 50%;
}
