.icon-button {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  appearance: none;
  background-color: unset;
}

.icon-button_style_primary {
  color: var(--color-element-primary);
}

.icon-button_style_secondary {
  color: var(--color-element-secondary);
}

.icon-button_style_accent {
  color: var(--color-element-accent);
}

.icon-button__icon {
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.icon-button__icon:hover {
  opacity: var(--hover-opacity);
}

.icon-button__icon:active {
  opacity: 1;
}
