.sidebar-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-element-tertiary);
  background-color: var(--color-background-white);
}

.chat-list__top-bar {
  height: 56px;
  flex-shrink: 0;
  gap: 4px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-background-white);
}

.chat-list {
  overflow-y: scroll;
}
