<p class="{{styles.message}}{{#if visible}} {{styles.message_visible}}{{/if}}">
  We&nbsp;couldn&rsquo;t find an&nbsp;account matching the login and password you entered.
  Please check your login and password and try again.
</p>
