<form class="{{styles.message-sender__form}}">
  {{input}}
  {{submitButton}}
  {{!-- {{> components/icon-button/icon-button type="submit" id="send-msg" icon="paperplane" style="secondary" }} --}}
</form>