.page__headline {
  margin: 0 0 40px 0;
  text-align: center;
  font-size: var(--font-headline-medium-size);
  line-height: var(--font-headline-medium-height);
  font-weight: var(--font-headline-medium-weight);
  letter-spacing: var(--font-headline-medium-spacing);
}

.page__transition {
  margin-top: 8px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
