.menu-item {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  column-gap: 6px;
  border-radius: 6px;
  max-width: 280px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: hsla(var(--color-base-gray-4) / 0.6);
}

.menu-item_style_primary {
  color: var(--color-text-primary);
}

.menu-item_style_adverse {
  color: var(--color-text-error);
}

.menu-item__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.menu-item__label {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-body-large-size);
  font-weight: var(--font-body-large-weight);
  line-height: var(--font-body-large-height);
  letter-spacing: var(--font-body-large-spacing);
}
