@import './bubble.css';
@import './message-input.css';

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat_top-bar {
  padding-left: 16px;
  padding-right: 16px;
  column-gap: 10px;
  flex: 0 0 56px;
}

.chat__avatar {
  width: 44px;
  font-size: 28px;
}

.chat__username {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-size: var(--font-title-medium-size);
  line-height: var(--font-title-medium-height);
  font-weight: var(--font-title-medium-weight);
  letter-spacing: var(--font-title-medium-spacing);
}

.messages-container {
  flex-grow: 1;
  overflow: hidden;
}

.message-input-container {
  display: flex;
}

.messages__by-day {
  margin-left: auto;
  margin-right: auto;
  max-width: 714px;
  padding-right: 16px;
  padding-left: 16px;
}

.messages__day-title {
  margin: 18px auto;
}

.messages__list {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow-y: scroll;
}

.day-title {
  padding: 4px 16px;
  width: fit-content;
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-height);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-spacing);
  color: var(--color-text-primary);
  border-radius: 14px;
  background-color: var(--color-background-accent-light);
}

.messages__buble {
  margin-bottom: 10px;
  display: flex;
}
