.message-input {
  --column-gap: 12px;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 714px;
  height: 46px;
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}

.message-input::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-element-tertiary);
  top: 0;
}

.message-input__menu {
  font-size: 0;
}

.message-input__menu:has(.menu_visible) #attach {
  color: var(--color-element-accent);
}

.message-input__form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  column-gap: var(--column-gap);
}

.message-input__text {
  flex-grow: 1;
  border: none;
  padding: 0;
  appearance: none;
  color: var(--color-text-primary);

  font-family: inherit;
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-height);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-spacing);
}

.message-input__text:focus-visible {
  outline: unset;
}

.message-input__text::placeholder {
  color: var(--color-text-secondary);
}

#send-msg {
  margin-left: auto;
}

.message-input__text:not(:placeholder-shown) + #send-msg {
  color: var(--color-element-accent);
}
