.trigger {
  position: relative;
}

.menu {
  --menu-offset: calc(100% + 4px);
  padding: 4px;
  border-radius: 8px;
  background-color: var(--color-background-white);
  position: absolute;
  visibility: hidden;
  box-shadow: var(--shadow-elevation-2);
  z-index: var(--z-menu);
  scale: 0;
  opacity: 0;

  transition: scale 150ms ease-out, opacity 100ms ease-out;
}

.menu_visible {
  visibility: visible;
  scale: 1;
  opacity: 1;
}

.menu_top {
  bottom: var(--menu-offset);
}

.menu_bottom {
  top: var(--menu-offset);
}

.menu_left {
  left: 0;
}

.menu_right {
  right: 0;
}

.menu_left.menu_bottom {
  transform-origin: left top;
}

.menu_left.menu_top {
  transform-origin: left bottom;
}

.menu_right.menu_bottom {
  transform-origin: right top;
}

.menu_right.menu_top {
  transform-origin: right bottom;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  column-gap: 6px;
  border-radius: 6px;
  max-width: 280px;
  cursor: pointer;
}

.menu-item_style_primary {
  color: var(--color-text-primary);
}

.menu-item:hover {
  background-color: hsla(var(--color-base-gray-4) / 0.6);
}

.menu-item_style_adverse {
  color: var(--color-text-error);
}

.menu-item__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.menu-item__label {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-body-large-size);
  font-weight: var(--font-body-large-weight);
  line-height: var(--font-body-large-height);
  letter-spacing: var(--font-body-large-spacing);
}

.menu-overlay {
  z-index: var(--z-menu-overlay);
}
