.button {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 10px 24px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  background-color: unset;

  font-family: inherit;
  font-size: var(--font-label-large-size);
  font-weight: var(--font-label-large-weight);
  line-height: var(--font-label-large-height);
  letter-spacing: var(--font-label-large-spacing);

  transition: all 50ms linear;
}

.button:hover {
  opacity: var(--hover-opacity);
}

.button:active {
  opacity: 1;
}

.button_style_filled {
  color: var(--color-text-white);
  background-color: var(--color-element-accent);
}

.button_style_outlined {
  color: var(--color-text-accent);
  border: 1px solid var(--color-element-primary);
}

.button_style_outlined:hover {
  background-color: var(--color-element-tertiary);
}

.button_style_text {
  color: var(--color-element-accent);
}

.button_style_text:hover {
  background-color: var(--color-element-tertiary);
}
