<div class="{{styles.chat-stub}}">
  <p class="{{styles.chat-stub__cta}} no-select">
    {{#if load}}
      Loading messenger ...
    {{else}}
      Select a&nbsp;chat to&nbsp;start messaging
    {{/if}}
  </p>
</div>
