<!DOCTYPE html>
<html class="base font-theme" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="base__body">
  {{> @partial-block}}
  <script type="module" src={{scriptSrc}}></script>
</body>

</html>