.container {
  display: flex;
}

.invisible-input:checked + .content-container {
  border-color: var(--color-element-special);
}

.invisible-input:disabled + .content-container {
  background-color: var(--color-background-special);
  opacity: 0.6;
}

.content-container {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  flex: 1 1;
  column-gap: 8px;
  border: 1px solid var(--color-background-secondary);
  border-radius: 8px;
}

.avatar-container {
  width: 40px;
  height: 40px;
}

.user-name {
  margin: 0;
  flex: 1 0;
}
