.base {
  font-family: var(--font-family);
  font-size: var(--font-size-m, 100%);
  line-height: 1.15;
  color: var(--color-text-primary);
  background-color: var(--color-background-white);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.base__body {
  margin: 0;
  overscroll-behavior: none;
}
