.headline {
  margin: 0;
  text-align: center;
  font-size: var(--font-display-large-size);
  line-height: var(--font-display-large-height);
  font-weight: var(--font-display-large-weight);
  letter-spacing: var(--font-display-large-spacing);
  color: var(--color-text-secondary);
}

.message {
  margin: 40px 0;
  text-align: center;
  font-size: var(--font-headline-medium-size);
  line-height: var(--font-headline-medium-height);
  font-weight: var(--font-headline-medium-weight);
  letter-spacing: var(--font-headline-medium-spacing);

  max-width: 700px;
}
