.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages-container {
  flex-grow: 1;
  overflow: hidden;
}

.messages__list {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow-y: scroll;
}

.message-input-container {
  display: flex;
}
