<div class="menu-item{{#if negative}} menu-item_negative{{/if}}">

  {{#if leadingIcon}}
    <svg class="menu-item__icon" viewBox="0 0 24 24">
      <use href="src/svg/icon-24-sprite.svg#{{leadingIcon}}">
    </svg>
  {{/if}}

  <p class="menu-item__label">{{label}}</p>

</div>