.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay_visible {
  display: block;
}

.overlay_style_transparent {
  background-color: transparent;
}
