.bubble_own {
  margin-left: auto;
  color: var(--color-text-white);
  background-color: var(--color-background-accent);
  border-radius: 12px 12px 0 12px;
}

.bubble_own .bubble__time {
  color: inherit;
}

.status {
  flex-shrink: 0;
  height: 14px;
  width: 14px;
  color: var(--color-element-white);
  background-color: currentColor;
  mask-size: 100%;
}

.status_style_readed {
  mask-image: url(../../../../app/assets/svg/icon-16-readed.svg);
}

.status_style_delivered {
  mask-image: url(../../../../app/assets/svg/icon-16-delivered.svg);
}
