<div class="{{styles.message-sender}}">
  <div class="{{styles.message-sender__menu}}">
    {{menu}}
    {{!-- {{> components/dropdown/dropdown id="attach" icon="paperclip" style="primary" items=main.menu.message posX="left" posY="top"}} --}}
  </div>
  {{form}}
</div>