<div class="nav-item animate-hover nav-item_style_{{style}}">
  <svg class="nav-item__icon" viewBox="0 0 24 24" aria-hidden="true">
    <use href="src/svg/icon-24-sprite.svg#{{icon}}">
  </svg>
  <div class="nav-item__label">{{label}}</div>
</div>