@import '../avatar/avatar.css';

.profile {
  --avatar-size: 60px;
  --profile-gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  column-gap: var(--profile-gap);
}

.profile__avatar {
  position: relative;
}

.profile__upload-avatar {
  border-radius: var(--border-radius-circle);
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.profile__upload-avatar::before {
  content: '';
  visibility: hidden;
  position: absolute;
  border-radius: var(--border-radius-circle);
  display: block;
  width: 100%;
  height: 100%;
  transition: all 100ms linear;
}

.profile__upload-avatar:hover::before {
  visibility: visible;
  background-color: hsla(var(--color-base-black) / 0.6);
}

.profile__upload-avatar::after {
  content: '';
  position: absolute;
  visibility: hidden;
  border-radius: var(--border-radius-circle);
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: currentColor;
  mask-image: url(../../../svg/cam.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  transition: all 100ms linear;
}

.profile__upload-avatar:hover::after {
  visibility: visible;
  color: var(--color-element-special);
  background-color: currentColor;
  mask-image: url(../../../svg/cam.svg);
  mask-repeat: no-repeat;
  mask-position: center;
}

.profile__name-container {
  width: calc(100% - var(--avatar-size) - var(--profile-gap));
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
}

.profile__name-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.profile__text {
  margin: 0;
}

.profile__text_style_name {
  color: var(--color-text-primary);
  font-size: var(--font-body-large-size);
  line-height: var(--font-body-large-height);
  font-weight: var(--font-body-large-weight);
  letter-spacing: var(--font-body-large-spacing);
}

.profile__text_style_username {
  color: var(--color-text-secondary);
  font-size: var(--font-body-medium-size);
  line-height: var(--font-body-medium-height);
  font-weight: var(--font-body-medium-weight);
  letter-spacing: var(--font-body-medium-spacing);
}

.profile__name-footer {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
