.settings__button {
  width: 40px;
  height: 40px;
}

#close-settings {
  color: var(--color-element-primary);
}

.settings__title {
  margin: 0;
  padding: 0;
  font-size: var(--font-title-large-size);
  line-height: var(--font-title-large-height);
  font-weight: var(--font-title-large-weight);
  letter-spacing: var(--font-title-large-spacing);
}
