@import './profile.css';
@import './nav-item.css';

.settings__button {
  width: 40px;
  height: 40px;
}

#close-settings {
  color: var(--color-element-primary);
}

.settings__title {
  margin: 0;
  padding: 0;
  font-size: var(--font-title-large-size);
  line-height: var(--font-title-large-height);
  font-weight: var(--font-title-large-weight);
  letter-spacing: var(--font-title-large-spacing);
}

.settings-content {
  padding-left: 16px;
  padding-right: 16px;
}

.settings__nav-item {
  margin-top: 16px;
}

.settings__nav-item:last-child {
  position: relative;
  margin-top: 44px;
}

.settings__nav-item:last-child::before {
  content: '';
  width: 100%;
  top: -18px;
  position: absolute;
  border-top: solid 1px var(--color-element-tertiary);
}
